
<div class="contenido">
    <button type="button" class="btn btn1" (click)="texto = boton1">Boton 1</button>
    <button type="button" class="btn btn2" (click)="texto = boton2">Boton 2</button>
    <button type="button" class="btn btn3" (click)="texto = boton3">Boton 3</button>
    <div class="caja">
      <span class="mensajeInfo">
          {{ texto }}
      </span>
  </div>
</div>


<div class="contenido">
  <button type="button" class="btn btn1" (click)="btn1()">Boton 1</button>
  <button type="button" class="btn btn2" (click)="btn2()">Boton 2</button>
  <button type="button" class="btn btn3" (click)="btn3()">Boton 3</button>

  <div class="caja" [ngSwitch]="number">
    <span *ngSwitchCase="1">Botón 1</span>
    <span *ngSwitchCase="2">Botón 2</span>
    <!-- <span *ngSwitchCase="3">Botón 3</span> -->
    <span *ngSwitchDefault>Mensaje Informativo</span>
  </div>
</div>