.contenido{
  text-align: center;
}

.btn {
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.btn1{
  color: white;
  background-color: rgba(70, 75, 100, 0.575);
}

.btn2{
  background-color: rgb(224, 237, 255);
  border: 1px solid rgba(0, 0, 255, 0.392);
}

.btn3{
  background-color: rgb(213, 253, 213);
  border: 1px solid rgba(0, 128, 0, 0.49);
}

.mensajeInfo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.caja{
  border: 2px dotted rgba(128, 128, 128, 0.575);
  width: 300px;
  margin: 0 auto;
  padding: 5px;
}